<div>
    <div class="gd-container">
        <div class="gd-clearfix">
            <div class="gd-left">
                Copyright &copy; 2017. 上海牛能农业科技有限公司. All Rights Reserved.
            </div>
            <div class="gd-right">
                <a href="http://www.morey.com.cn" target="_blank">

                </a>
            </div>
        </div>
    </div>
</div>