<div class="gd-container gd-clearfix">
    <div class="logo gd-left">
        <a href="./" title="上海牛能农业科技有限公司">
            <img src="res/img/logo1.png" alt="上海牛能农业科技有限公司">
            <span>上海牛能农业科技</span>
        </a>
    </div>

    <nav class="gd-right">
        <ul class="gd-list-inline">
            <li>
                <a data-target="#banner" class="active">
                    首页
                </a>
            </li>
            <li>
                <a data-target="#service">
                    关于
                </a>
            </li>
            <li>
                <a data-target="#case">
                    产品
                </a>
            </li>
            <li>
                <a data-target="#contact">
                    联系
                </a>
            </li>
        </ul>
    </nav>
</div>