<div class="index">
    <div id="banner" class="banner"></div>
    <div id="service" class="service">
        <div class="gd-container">
            <h1>
                <span>关于</span><span class="color-orange">我们</span>
            </h1>
            <p style="text-align: left;margin-bottom:20px;text-indent:2em;">
                上海牛能农业科技有限公司成立于2016年，，是上海莫雷旗下的一家农业科技型企业，专注于农业养殖业；公司的宗旨是通过科技改变传统行业，提高传统行业的效率；我们是一家集研发、设计、运营于一体的农业科技公司。公司拥有自己的研发队伍，已经研发了数十项产品，未来将逐步推向市场，有数十项专利；
            </p>
            <p style="text-align: left;text-indent:2em;">
                目前公司还和国内的一些科技型企业有深度的合作，负责连接传统养殖业和科技型企业之间的桥梁；协助养殖企业打造养殖业物联网；目前公司主要产品有为牧场节水的精准感应喷淋，牧场粪污系统等牧场自动化系统，养殖配方大数据的智能称重系统，目前公司还在深度研发生物芯片，主要用于监测动物的呼吸，心跳等，通过收集这些数据来预测动物的疾病，防止动物疫情的大规模爆发。
            </p>
            <div class="section gd-row">
                <div class="gd-col-3">
                    <div class="platform ios"></div>
                    <div class="label">
                        iOS开发
                    </div>
                </div>
                <div class="gd-col-3">
                    <div class="platform android"></div>
                    <div class="label">
                        Android开发
                    </div>
                </div>
                <div class="gd-col-3">
                    <div class="platform web"></div>
                    <div class="label">
                        Web开发
                    </div>
                </div>
                <div class="gd-col-3">
                    <div class="platform h5"></div>
                    <div class="label">
                        H5开发
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="case" class="case">
        <div class="gd-container">
            <h1>
                <span>我们的</span><span class="color-orange">产品</span>
            </h1>
            <p>
                致力于养殖业环保、节能、智能化以及生态农业延伸探索。集中力量在产品开发、新理念打造和牧场新业务的研究
            </p>
            <div class="section">
                <div class="gd-row">
                    <%
                    for(var i = 0, si = cases.length; i < si; i++){
                    %>

                    <div class="gd-col-4">
                        <div class="item" title="查看详情">
                            <img src="res/data/case/thumbnail/slide-case-<%= i+1 %>.png">
                        </div>
                    </div>

                    <%
                    }
                    %>

                </div>
            </div>
        </div>
    </div>
    <div id="contact" class="contact">
        <div class="gd-container">
            <h1>
                <span>联系</span><span class="color-orange">我们</span>
            </h1>
            <p>
                携手同行，我们会是您前行路上的好伙伴
            </p>
            <div class="section gd-clearfix">
                <div class="gd-left">
                    <div class="map"></div>
                </div>
                <div class="gd-left">
                    <div class="info">
                        <p>
                            地址：上海市闵行区剑川路951号1号楼南814室
                        </p>
                        <p>
                            邮编：200240
                        </p>
                        <p>
                            电话：021-543397006
                        </p>
                        <p>
                            传真：021-54396921
                        </p>
                        <p>
                            邮箱：zhipwang@moreycow.com
                        </p>
                        <p>
                            联系人：王志平
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>